@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}



header{
    background-color: lightgray;
    background-image: url(imagens/interstellar.webp);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 800px;

    
    

    
    

}

header > h1{
    text-align: center;
    font-size: 2.8em;
    font-variant: small-caps;
    
    
}
nav{
    background-color: lightgray;
    padding: 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    
    
   
}
nav a{
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.123);
    display: inline-block;
    text-transform: uppercase;
    padding: 5px;
    margin: 5px;
    color: white;
 
    
    
}
nav > a:hover{
    text-decoration: underline;
    
}
main{
    background-color: lightblue;

}

main h1{
text-align: center;
    font-size: 2em;
}
main p{
    text-align: justify;
    text-indent: 20px;

}



